@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}

input[type=checkbox] {
  display: none;
}

.center {
  padding: 0 calc(50vw - 570px);
}

.top-header {
  padding: 0 calc(50vw - 570px);
  height: 75px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__logo {
  -webkit-transition: .2s;
  transition: .2s;
}

.top-header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-header__search {
  padding-left: 41px;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-header__search:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-header__main-menu {
  -webkit-transition: .2s;
  transition: .2s;
}

.top-header__main-menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-header__account {
  padding: 0 33px;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-header__account:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-header__cart {
  -webkit-transition: .2s;
  transition: .2s;
}

.top-header__cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-header__right {
  position: relative;
}

.top-header__right > nav {
  position: absolute;
  display: none;
  width: 232px;
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 16px 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
}

#main_menu:checked ~ nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

.close_icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main_menu__header {
  margin: 8px 0 12px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.main_menu__section {
  margin: 12px 0;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #F16D7F;
}

.main_menu__item {
  margin: 6px 0 6px 22px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
  -webkit-transition: .2s;
  transition: .2s;
}

.main_menu__item:hover {
  color: #F16D7F;
}

.promo {
  background-color: rgba(113, 103, 105, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left {
  width: 50%;
  padding-left: calc(50% - 800px);
}

.promo__img {
  width: 100%;
}

.promo__right {
  background-color: #F1E4E6;
  width: 50%;
  padding-right: calc(50% - 800px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__content {
  margin-left: 64px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo__header {
  font-family: Lato;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  color: #222224;
}

.promo__text {
  font-family: Lato;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #222224;
}

.promo__text > span {
  color: #F16D7F;
}

.catalog {
  padding: 0 calc(50vw - 570px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 63px 0 30px;
  height: 260px;
}

.catalog__item_margin {
  margin: 0 30px;
}

.catalog_img {
  width: 100%;
}

.catalog__item {
  position: relative;
}

.catalog__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__header {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.catalog__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  color: #F16D7F;
}

.catalog__bottom {
  padding: 0 calc(50vw - 570px);
}

.product {
  padding: 0 calc(50vw - 570px);
}

.product__header {
  text-align: center;
}

.product__header__header {
  font-family: Lato;
  font-size: 30px;
  line-height: 97px;
  font-weight: 400;
  color: #222224;
  margin-top: 97px;
}

.product__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.product__catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 30px;
}

.product__card {
  background-color: #F8F8F8;
  position: relative;
}

.product__card:hover .product__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product__card:hover .product__button_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__card__header {
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  padding: 25px 18px 12px;
}

.product__card__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
  padding: 0 16px;
}

.product__card__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  padding: 18px 18px 20px;
}

.product__button {
  width: 211px;
  height: 47px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px auto 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__button:hover {
  background-color: #F16D7F;
  color: white;
}

.product__button_hover {
  position: absolute;
  top: 33%;
  left: 31%;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transition: .2s;
  transition: .2s;
}

.product__img {
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__top {
  height: 341px;
  background-color: #222224;
  margin-top: 95px;
}

.footer__top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__top__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top__header {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #FBFBFB;
  text-align: center;
  margin: 23px 0 16px;
}

.footer__top__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
}

.footer__subscribe {
  background-image: url(../img/footer_bcg.png);
  background-size: cover;
  background-position: center, bottom;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe__info {
  max-width: 360px;
  text-align: center;
}

.footer__subscribe__text {
  margin-top: 35px;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #222224;
}

.footer__subscribe__form {
  text-align: center;
}

.footer__subscribe__form__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  color: #222224;
}

.footer__subscribe__form__text {
  margin: 10px 0 32px;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #222224;
}

.footer__subscribe__form__form {
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribe__input {
  width: 100%;
  padding: 0 22px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  border: 0;
}

.footer__subscribe__button {
  height: 100%;
  width: 144px;
  border-radius: 0 25px 25px 0;
  background-color: #F16D7F;
  border: 0;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__subscribe__button:hover {
  background-color: #e05c6e;
}

.footer__bottom {
  height: 79px;
  background-color: #222224;
}

.footer__bottom__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  width: 32px;
  height: 32px;
  background-color: white;
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__icon:hover {
  background-color: #F16D7F;
}

.footer__icon:hover .footer__icon_hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__icon__instagram:hover .instagram_invert {
  -webkit-filter: none;
          filter: none;
}

.instagram_invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.main-catalog__header__container {
  height: 148px;
  background-color: #F8F3F4;
}

.main-catalog__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-catalog__header__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
}

.main-catalog__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  margin-left: 5px;
}

.breadcrumbs__item__ref {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #636363;
  -webkit-transition: .2s;
  transition: .2s;
}

.breadcrumbs__item__ref:hover {
  color: #F16D7F;
}

.breadcrumbs__item:last-child a {
  color: #F16D7F;
}

.breadcrumbs__item:not(:last-child)::after {
  content: " /";
}

.main-catalog__filter {
  padding: 0 calc(50vw - 570px);
  margin: 51px 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-catalog__product {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 128px;
}

.filter__menu {
  position: relative;
}

.filter__menu__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #000000;
  padding-left: 12px;
}

.filter__menu__text_red {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #F16D7F;
}

.filter__menu__navbar {
  position: absolute;
  left: -100vw;
  z-index: 1;
  background-color: white;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__menu__details {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 18px;
}

.filter__menu__details > summary {
  border-left: 5px solid #F16D7F;
  height: 37px;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
  outline: none;
}

.filter__menu__ref {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 11px 12px;
  -webkit-transition: .2s;
  transition: .2s;
}

.filter__menu__ref:hover {
  color: #F16D7F;
}

.filter__menu__input:checked ~ nav {
  left: -5px;
  top: -16px;
}

.filter__menu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-left: 5px solid white;
}

.filter__img_mg {
  margin-left: 11px;
}

details summary::-webkit-details-marker {
  display: none;
}

.main-catalog__filter__center {
  margin-left: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__center__menu {
  position: relative;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 28px;
}

.filter__center__navbar {
  position: absolute;
  left: -100vw;
  z-index: 1;
  background-color: white;
  width: 79px;
  height: 103px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Lato;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  padding: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter__center__input:checked ~ nav {
  left: 0;
}

.add_checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  margin-right: 9px;
}

.filter__center__add_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox_visible:checked ~ div {
  background-color: #ccc;
}

.filter_img2_mg {
  margin-left: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.pagination__container {
  width: 284px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
}

.pagination__item {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #C4C4C4;
  margin-left: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.pagination__item_notmg {
  margin-left: 0;
  margin-right: 20px;
}

.pagination__item:hover {
  color: #F16D7F;
}

.slider {
  height: 777px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__img {
  margin-bottom: 42px;
}

.slider_arrows {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: .2s;
  transition: .2s;
}

.arrow_box {
  width: 47px;
  height: 47px;
  background-color: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow_box:hover .slider_arrows {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.product_description {
  padding: 0 calc(50vw - 570px);
}

.product_description__container {
  height: 601px;
  margin-bottom: 60px;
  position: relative;
}

.product_description_position {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -70px;
  border: 1px solid #EAEAEA;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_description_top {
  text-align: center;
  margin-top: 65px;
  width: 641px;
  height: 292px;
  border-bottom: 1px solid #EAEAEA;
}

.product_description__header {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #F16D7F;
}

.product_description__devider {
  height: 3px;
  width: 63px;
  margin: 12px auto;
  background-color: #F16D7F;
}

.product_description__subheader {
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #4D4D4D;
}

.product_description_top__text {
  width: 570px;
  margin: 48px auto 32px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5E5E5E;
}

.product_description__price {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #F16D7F;
}

.product_description__chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0 48px;
  width: 373px;
}

.product_description__chooser__item {
  position: relative;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
}

.product_description__chooser__item:hover .product_description__chooser__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 14px;
}

.product_description__chooser__navbar {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 79px;
  height: 103px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Lato;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  padding: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_description__chooser__img {
  margin: 0 0 2px 9px;
}

.product_description__button {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.product_description__button__img {
  margin-right: 23px;
  -webkit-transition: .2s;
  transition: .2s;
}

.product_description__button:hover {
  background-color: #F16D7F;
  color: white;
}

.product_description__button:hover .product_description__button__img {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}

.cart {
  padding: 0 calc(50vw - 570px);
  margin: 96px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  height: 306px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-card:not(:last-child) {
  margin-bottom: 40px;
}

.cart-card__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  font-weight: 400;
  width: 80%;
  margin-bottom: 42px;
}

.cart-card__header_color {
  color: #222222;
}

.cart-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  font-family: Lato;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  font-weight: 400;
}

.cart-card__img {
  height: 100%;
}

.cart-card__description {
  width: 262px;
  padding: 22px;
  margin-left: 9px;
}

.cart-card__description_mg {
  margin-left: .4em;
}

.cart-card__description_red {
  color: #F16D7F;
}

.cart-card__box {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.cart-card__close-img {
  margin-left: 35px;
  margin-top: 28px;
}

.cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart-buttons__btn {
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
}

.cart-buttons__btn:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: white;
}

.address {
  width: 360px;
}

.address__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__header {
  margin: 20px 0;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.address__input {
  height: 46px;
  margin-bottom: 21px;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #222222;
  padding: 0 16px;
}

.address__button {
  width: 100px;
  height: 34px;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.address__button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: white;
}

.quote {
  height: 214px;
  padding: 40px;
  background-color: #F5F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote__sub-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.quote__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 21px;
}

.quote__price_mg {
  margin-left: 1.5em;
}

.quote__price_red {
  color: #F16D7F;
}

.quote__devider {
  height: 1px;
  background-color: #E2E2E2;
}

.quote__button {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 17px;
  -webkit-transition: .2s;
  transition: .2s;
}

.quote__button:hover {
  background-color: #e05c6e;
}

.registration-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px 0 96px;
}

.registration-form {
  width: 360px;
}

.registration-form__heading {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
}

.registration-form__input {
  width: 100%;
  height: 45px;
  margin-top: 21px;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #B1B1B1;
}

.registration-form__radio {
  margin: 32px 10px 32px 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.registration-form__radio_mg {
  margin-left: 20px;
}

.registration-form__radio_font {
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  font-weight: 300;
}

.registration-form__password-text {
  margin: 15px 0 39px;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

.registration-form__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
}

.registration-form__button:hover {
  background-color: #e05c6e;
}

.button__add-img {
  margin-left: -50px;
}

.registration-info {
  max-width: 652px;
}

.registration-info__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000000;
}

.registration-info__description {
  margin: 22px 0;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000000;
}

.registration-info__perk {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #000000;
}

.registration-info__perk::before {
  content: url("../img/check-img.svg");
  margin-right: 23px;
}
/*# sourceMappingURL=style.css.map */